body{
	width: 100vw;
  	height: 100vh;
  	margin: 0px;
  	padding: 0px;
  	color: white;
  	background-color: black;
}
@keyframes moveimgOne {
	0%{left: 100%;}
	100%{left:-50%;}
}
#maguro{
	animation: moveimgOne 5s infinite;
	position: relative;
	width: 50%;
}
#ankou{
	height: 100px;
	float:left;
}

#wai{
	height: 100px;
	display: flex;
	align-items: center;
}